<html>
<head>
  <title>Emails</title>
  <style>
    .red {
        background-color: red;
        border: 2px solid black;
        font-size: 1.3em;
        padding: 10px;
        margin-bottom: 10px;
    }
  </style>
</head>
<body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="red">{{message}}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <form action='/emails' method='POST'>
    <label for="email">Email:<input type="text" name="email" id="email"></label>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
